@import url(../fonts/iranYekan-font.css);

* {
    font-family: "iranYekan", sans-serif;
}

body {
    font-size: 16px;
    background-color: #eee;
}

/* Sidebar Styling */
.sidebar {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url(../images/sidebar-img.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    box-shadow: -5px 7px 25px #999;
}

.bottom-border {
    border-bottom: 1px groove #eee;
}

.sidebar-link {
    transition:all .4s;
    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    -ms-transition:all .4s;
    -o-transition:all .4s;
}

.sidebar-link:hover {
    background-color: #444;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.current {
    background-color: #f44336;
    box-shadow: 2px 5px 10px #111;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.current:hover {
    background-color: #f66436;
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
}

.search-button {
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 10px 16px;
}

.search-button:hover {
    
    background-color: #eee;
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
}

.search-input {
    background-color: transparent;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border: none;
    border-bottom: 2px solid #999;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.search-input:focus {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #dc3545;
}

/* Default Styles */
.my-default-button-style {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .top-navbar {
        position: static;
    }
    .sidebar {
        position: static;
        height: auto;
    }
}